@import '../../style/base.scss';

:host {
    display: flex;
}

h1 {
    font-size: xx-large;
    margin-top: 0;
}

img {
    max-width: 100%;
}

figure {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-style: italic;
    text-align: center;
    font-size: small;
}

section {
    width: 40ch;
    padding: 0 30px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;

    word-wrap: break-word;

    position: relative;
    overflow-x: auto;
}

@media(max-width: 1050px) {
    section {
        width: calc(100vw - 60px);
    }
}

.close-button {
    height: 40px;
    width: 40px;
    margin: 0;
    padding: 0;

    display: flex;
    align-content: center;
    justify-items: center;

    border: none;
    background-color: transparent;

    position: absolute;
    top: 20px;
    right: 20px;

    color: black;
    stroke: black;
    font-size: 40px;
}

.close-button {
    flex-grow: 1;
}

ul.bullets {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    padding-inline-end: 30px;
    padding-inline-start: 0;

    li {
        display: block;
        background-color: var(--color-dark-gray);
        text-align: center;
        color: white;
        font-weight: bold;
        border-radius: 100vh;
        width: fit-content;
        padding: 6px 12px;
        font-size: small;

        &.placetype {
            background-color: brown;
        }

        a {
            border-bottom: none;
        }
    }
}



.notion-button-container {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.notion-button {
    align-self: stretch;
    text-align: center;

    border-bottom: none;
    background-color: var(--color-gray);
    margin: 0 -30px;
    padding: 20px;
}