@import "tailwindcss";
@import "./fonts.css";

:root {
  --red-50: hsl(0, 100%, 86%);
  --red-100: hsl(0, 77%, 67%);
  --red-200: hsl(0, 69%, 53%);
  --red-300: hsl(0, 83%, 43%);
  --red-400: hsl(0, 100%, 35%);
  --red-500: hsl(0, 100%, 30%);
  --red-600: hsl(0, 83%, 28%);
  --red-700: hsl(0, 62%, 25%);
  --red-800: hsl(0, 38%, 23%);
  --red-900: hsl(0, 16%, 18%);

  --black-50: hsl(0, 0%, 100%);
  --black-100: hsl(0, 0%, 99%);
  --black-200: hsl(0, 0%, 86%);
  --black-300: hsl(0, 0%, 73%);
  --black-400: hsl(0, 0%, 59%);
  --black-500: hsl(0, 0%, 46%);
  --black-600: hsl(0, 0%, 33%);
  --black-700: hsl(0, 0%, 19%);
  --black-800: hsl(0, 0%, 6%);
  --black-900: hsl(0, 0%, 0%);

  --blue-700: hsl(205, 100%, 14%);
  --blue-800: hsl(205, 100%, 14%);
  --blue-900: hsl(205, 100%, 5%);
}

@theme {
  --font-title: "SuperiorTitle", serif;
  --font-heading: "Geologica", serif;
  --font-body: "Inter", Arial, Helvetica, sans-serif;
  --color-*: initial;

  --background-color-transparent: "transparent";
  --background-color-neutral-low: "#FCFCFC";
  --background-color-neutral-medium: hsl(240, 4%, 51%);
  --background-color-neutral-default: hsl(0, 0%, 99%);

  --background-color-primary-interactive-default: var(--red-400);
  --background-color-primary-interactive-hover: var(--red-300);
  --background-color-primary-interactive-active: var(--red-600);
  --background-color-primary-high: var(--red-800);
  --background-color-primary-medium: var(--red-600);
  --background-color-primary-low: var(--red-100);


  --text-color-current: "currentColor";
  --text-color-neutral-text-high: var(--black-900);
  --text-color-neutral-text-medium: var(--black-700);
  --text-color-neutral-text-dark-onbackground: var(--black-50);
  --text-color-interactive-hover: var(--red-600);
  --text-color-interactive-active: var(--red-500);

  --border-color-neutral-border-low: var(--black-200);
  --border-color-neutral-border-medium: var(--black-400);
  --border-color-neutral-border-high: var(--black-600);
  --border-color-primary-border-high: var(--red-700);
  --border-color-primary-border-medium: var(--red-500);
  --border-color-primary-border-low: var(--red-300);
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  @apply font-body text-neutral-text-high;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
